html {
    scroll-behavior: smooth;
    padding: 0
}

body {
    margin: 0;
    font-size: 20px;
    background-image: url("../images/MistyMaze_Background.png");
    background-position:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;
    overflow-x: hidden;
}

nav li {
    margin: 0;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    display: inline;
  
}

nav {
    margin-top: 20px;
    display: inline-block;
    align-content: center;
    font-size: 20px;
    margin-left: 450px;
    column-gap: 40px;
}

/* Logo, Title and Gallery */

.logo {
    display: block;
    padding-left: 500px;
    margin-top: inherit;
    padding-bottom: 260px;
}

.title {
    justify-self: right;
    padding-top: 20px;
    margin-right: 50px;
    padding-bottom: 260px;

}

.gallery {
    margin: auto inherit;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery img {
    display: inline-flex;
    border-style: groove;
    border-width: thick;
    max-width: 30%;
    grid-area: 1/1;

}

/* Text Sections */

.CenterHeader h1, h2 {
    color: white;
    text-shadow: black 2px 1px;
}

article, p {
    font-family: sans-serif;
    color: black;
}

h1, h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
    color: white;
    text-align: center justify;
    font-size: 8px;
    text-shadow: black 2px 1px;
}

.button {
    background-color: none;
    padding: 6px 6px;
    text-align: left;
}
