body {
margin: 0;
font-family: system-ui;
}

.maze {
background-image: url("../images/MegamixBackground_FIX.png");
background-repeat: no-repeat;
padding-top: 650px;
padding-bottom: 2560px;
}
